* {
    margin: 0;
}

#root {
    height: 100vh;
    height: 100dvh;
    display: grid;
    grid-auto-rows: auto 1fr auto;
}

#main {
    display: flex;
}

#main > * {
    min-width: 150px;
}

main {
    flex: 1;
}

#main > aside {
    min-width: 0;
    max-width: 0;
    overflow: hidden;
    padding: 0;
}

header, nav, main, aside, footer {
    padding: 0.5em;
}

nav {
    display: flex;
    flex-direction: column;
}